{% extends "base.html" %}

{% block title %}
{{ job.name }}
{% endblock %}

{% block head %}
<div class="jumbotron">
  <div class="container">
    <div class="col-md-8">
      <h2>{{ job.name }}</h2>
      <span class="timesince">{{ moment(job.created_at).fromNow(refresh=True) }}发布</span>
      <p><span class="job-salary">{{ job.salary_low }}k-{{ job.salary_high }}k</span>&nbsp;经验{{ job.exp }} / {{ job.degree }} {{ share.create(title='分享：', sites='weibo', mobile_sites='weibo') }}</p>
    </div>
    <div class="col-md-4">
      {% if current_user.is_authenticated and current_user.is_jobhunter %}
        {% if not job.current_user_is_applied %}
          <a href="{{ url_for('job.job_apply', job_id=job.id) }}"class="btn btn-success btn-lg dilivery-btn">投递简历</a>
        {% else %}
          <a href="#"class="btn btn-success btn-lg dilivery-btn" disabled="disabled">已投递</a>
        {% endif %}
      {% else %}
          <a href="{{ url_for('front.login') }}"class="btn btn-success btn-lg dilivery-btn">投递简历</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="col-md-8">
  <div class="job-detail">
    <h4><b>职位诱惑</h4></b> <br>
    <p>{{ job.treatment }}</p>
    <br>
    <h4><b>职位描述</h4></b> <br>
    <p>{{ job.description | safe }}</p>
    <h4><b>工作地址</h4></b> <br>
    <p>{{ job.company.detail.address }}</p>
  </div>
</div>
<div class="col-md-4">
  <div class="media">
  <div class="media-left">
    <a href="{{ url_for('company.detail', company_id=job.company.id) }}">
      <img src="{{ job.company.detail.logo }}" class="media-object" height="96" width="96">
    </a>
  </div>
  <div class="media-body">
  </div>
</div>

  <h4>{{ job.company.detail.name }}</h4>
  <p>领域：{{ job.company.detail.field }}</p>
  <p>融资：{{ job.company.detail.finance_stage }}</p>
  <p>城市：{{ job.location }}</p>
  <p>官网：
    {% if job.company.detail.website %}
    <a href="{{ job.company.detail.website }}">
        {{ job.company.detail.website }}
    </a>
    {% else %}
        暂无
    {% endif %}
  </p>
</div>
{% endblock %}
