{% extends "base.html" %}
{% from "macros.html" import render_job, render_pagination %}

{% block title %}职位列表{% endblock %}

{% block body %}
<div class="jumbotron">
    <span>职位过滤：</span>
    <a href="{{ url_for('job.index') }}">全部</a>
    {% for job in jpagination %}
    <a href="{{ url_for('job.jfilter', status=job) }}">
        {{ job }}
    </a>
    {% endfor%}
</div>

<div class="job_list">
    {% for job in pagination.items %}
        {{ render_job(job) }}
    {% endfor %}
</div>
{{ render_pagination(pagination, 'job.index') }}
{% endblock %}
