{% extends "company/company_base.html" %}
{% from "macros.html" import render_pagination %}

{% block title %}
企业在招岗位管理
{% endblock %}

{% block manage %}
<a href="{{ url_for('company.job_manage', company_id=company_id) }}" class="list-group-item">职位管理</a>
{% endblock %}

{% block operation %}
<a href="{{ url_for('company.publish_job', company_id=company_id) }}" type="button" class="btn btn-success btn-admin">发布职位</a>
{% endblock %}

{% block admin %}
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>在招岗位</th>
      <th>发布时间</th>
      <th>操作</th>
    </tr>
    <tbody>
      {%for job in pagination.items %}
      <tr>
        <td>{{ job.id }}</td>
        <td>{{ job.name }}</td>
        <td>{{ job.created_at }}</td>
        <td>
            <div class="btn-group" role="group">
              <a href="{{ url_for('company.edit_job', company_id=company_id, job_id=job.id) }}" type="button" class="btn btn-default" title="编辑">
                <span class="glyphicom glyphicon-pencil" title="编辑" aria-hidden="true">编辑</span>
              </a>
              <a href="{{ url_for('company.delete_job', company_id=company_id, job_id=job.id) }}" type="button" class="btn btn-default" title="删除">
                <span class="glyphicom glyphicon-trash" title="删除" aria-hidden="true">删除</span>
              </a>
            </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </thead>
</table>

{{ render_pagination(pagination, 'company.jobs_manage') }}
{% endblock %}
